#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*this needs to be fixed so that the deck can overlap **********
.card_image.overlap { 
  display: flex;
  justify-content: center;
  gap: -500px;
  margin-top: -400px;
  margin-bottom: -400px; 
}
  */
.play_button {
  transform: translateY(-500px);
  transform: translateX(100px);
  transform: scale(500%); 
 
}

.draw_button {
  position: auto;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  transform: scale(200%);
}

.uno_button {
  position: auto;
  top: 20px;
  left: 50%;
  transform: translateX(-110%);
  transform: scale(150%);
}

.card_resize {  
  transform: scale(30%);
}

.top_card_image {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: auto;
  z-index: 10;
}

.card_image:hover {
 filter: drop-shadow(0px 0px 10px #ffffffaa);
 padding-left: 10px;
 padding-right: 10px;
 transform: translateY(-40px);
 transition: .2s;
}
