#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*this needs to be fixed so that the deck can overlap **********
.card_image.overlap { 
  display: flex;
  justify-content: center;
  gap: -500px;
  margin-top: -400px;
  margin-bottom: -400px; 
}
  */

.card_image:hover {
 filter: drop-shadow(0px 0px 10px #ffffffaa);
 padding-left: 10px;
 padding-right: 10px;
 transform: translateY(-40px);
 transition: .2s;
}
